{% extends 'blog/base.html' %}
{% block main-area %}
    {% block header-area %}
        <h1 class="fw-bolder text-white" >Detail Page</h1>
        {% endblock %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                            {% if post.category %}
                            <div class="text-muted fst-italic mb-2">Category: {{ post.category.name}}</div>
                            {% else %}
                            <div class="text-muted fst-italic mb-2">미분류</div>
                            {% endif %}

                            <div class="text-muted fst-italic mb-2">Posted on {{ post.created_date}} by {{post.author}}</div>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{ post.content }}</div>
                            <!-- Post categories-->
                            </header>
                        <!-- Preview image figure-->
                    <figure class="mb-4">
                            {% if post.uploaded_image %}
                                <img class="img-fluid rounded" src={{ post.uploaded_image.url }} alt="..." />
                            {% else %}
                                <img class="img-fluid rounded" src="https://dummyimage.com/850x400/ced4da/6c757d.jpg" alt="..." />
                            {% endif %}
                        </figure>
                    {% if post.uploaded_file %}
                    <button><a href={{ post.uploaded_file.url }} download>Download</a></button>
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            {{ post }}
                        </section>
                    </article>
                    <!-- Comments section-->
                </div>
            </div>
        </div>
                <!-- Side widgets-->
{% endblock %}